<div class="jumbotron">
	<h2 class="text-warning"> Sign up </h2>
		<%= form_for(@user) do |f| %>
		<%= render 'fields', :f => f %>
			<div class="actions"><br />
				<%= f.submit"Sign up" %>
			</div>
		<% end %>
</div>