<div class="bs-component">
	<div class="panel panel-danger">
		<% if @user.errors.any? %>
			<div class="panel-heading">
			<h3 class="panel-title text-center">Signup failure..!<br/></h3>
			</div>
			<div class="panel-body">
    			<medium> <%= pluralize(@user.errors.count,"  Error") %>
    						with the following fields
    			</medium>
    			<ul>
					<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
						<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>
