<div class="bs-component">
	<div class="panel panel-danger">
		<% if @user.errors.any? %>
			<div class="panel-heading">
			<h2 class="panel-title text-center">Error Signing up<br/></h2>
			</div>
			<div class="panel-body">
    			<p> <%= pluralize(@user.errors.count,"  Error") %>
    			</p>
					<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
			</div>
		<% end %>
	</div>
</div>
