<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="page-header">
            <h2 class="text-warning">
                About Baba
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="bs-component">
                    <img src="assets/babaamma350.png" >
                    <medium class="text-info text-center">
                        <h5>Sri Sri Sri Muralidhar Baba </h5>
                        <h5>Smt Sarojana Amma</h5>
                    </medium>                
                </div>
            </div>
            <div class="col-lg-8">
                <div class="bs-component">
                    <div class="text-justify" style="padding-left:30px">
                        <medium>Sri Sri Sri Muralidhar Baba was born on 10th May 1942 in the village of Manthani, situated at the banks of river Godavari, Karimnagar district, Telangana State, India. Manthani an ancient center of vedic learning, houses many scholars well versed in the ancient knowledge of the vedas and shastras. Baba was born to pious couple Shri Srirambhatla Sitaramaih and Vatsala Bai. From his childhood Babaji showed inclination towards spirituality and god realization. Baba after his matriculation left to Nasik, Maharastra and spent his considerable amount of life span there. Babaji is married to Smt Sarojana and have a family of 2 sons and 2 daughters. He worked in CPWD and settled in Hyderabad. By the grace of Shri Shirdi Sai Baba and Tuljapur Bhavani Matha, Baba has been serving the needy and downtroden to uplift them to a higher and a better living. People come to Baba with problems and get their solutions.<br/><br/>Kabir said : <em>If all the land were turned to paper and all the seas turned to ink, and all the forests into pens to write with, they would still not suffice to describe the greatness of the guru.</em><br/><br/>The very nature of saint is so elevating that only association with them would uplift the assocaited. Hence saints do appear on this earth to fulfil the vaccum created by the ignorance. Shri Krishna himself speaks about this in Gita. Lord Krishna tells Arjuna that if you want to approach me then approach me through a teacher who himself is self realized and who knows who I am so that he can guide you successfully through this spiritual world and make you one with me. Mere study of books cannot make one a guru. One who has studied the vedas and who has direct knowledge of atman through anubhava can only be enrolled as a guru. A jivanmukta or a liberated sage is the real Guru or spiritual preceptor. He is the satguru. He is identical with brahman or the supreme self. He is a knower of brahman.<br/><br/><br/>
                    </div>
                </div>
            </div>

<div class="row">
            <div class="col-lg-8">
                <div class="bs-component">
                    <div class="text-justify">
                        <medium> Adi Shankaracharya begins his gurustotram or verses to the guru with the following sanskrit sloka <em>
                        <br/><br/> गुरुर्ब्रह्मा गुरुर्विष्णुर्गुरुर्देवो महेश्वरः । <br/> गुरुरेव परं ब्रह्म तस्मै श्रीगुरवे नमः ।। <br/><br/> </em> Possession of siddhis is not the test to declare the greatness of a saint or to prove he has attained self-realization. Satgurus do not exhibit miracles or siddhis. Sometimes they may exhibit them in order to convince the aspirants of the existence of super physical things, give them encouragement, and instill faith in their hearts. A satguru is endowed with countless siddhis. He possesses all divine aisvarya, all the wealth of the Lord. The satguru is brahman himself. He is an ocean of bliss, knowledge and mercy. He is the captain of your soul. He is the fountain of joy. He removes all your troubles, sorrows and obstacles. He shows you the right divine path. He tears your veil of ignorance. He makes you immortal and divine. He transmutes your lower,diabolical nature. He gives you the rope of knowledge and saves you when you are drowning in this ocean of samsara. Do not consider him to be only a man. If you take him as a man, you are a beast. Worship your guru and bow to him with reverence. guru is god. A word from him is a word from god. He need not teach anything. Even his presence or company is elevating, inspiring and stirring. The very company itself is self-illumination. Living in his company is spiritual education. Man can learn only from a man, and hence god teaches through a human body. In your guru, you have your human ideal of perfection. He is the pattern from which you wish to mould yourself. Your mind will readily be convinced that such a great soul is fit to be worshipped and revered.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bs-component">
                    <br/><br/><br/><br/>
                    <img src="assets/duttatreya1.png" >
                </div>
            </div>
        </div>
    </div>
  