<div class='container'>

<div class='hero-unit'>
<h1 style="text-align: center">Un journal à votre mesure</h1>
 <div class='container-fluid'>
<div class='row-fluid'>
<div class='span4'>
<h3 style="text-align: center">chicklong</h3>
<p ph-txt num-sentences="1" style="text-align: justify"></p>
</div>
<div class='span4'>
<h3 style="text-align: center">retra</h3>
<p ph-txt num-sentences="1" style="text-align: justify"></p>
</div>
<div class='span4'>
<h3 style="text-align: center">lalère</h3>
<p ph-txt num-sentences="1" style="text-align: justify"></p>
</div>
</div>
</div>
 
</div>
 <div class='row'>
 
 <div class='span4'>
	<h3>Section Économie</h3>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
     <ph-txt num-sentences="1"><ph-txt>
      <img class="pull-right img-polaroid" ph-img="100x75" />
      <ph-txt num-paragraphs="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
       {{group.content}}
 </div><!-- span -->
 
 <div class='span4'>
	<h3>Section Loisirs</h3>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
            <img class="pull-right img-circle" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
@@ -46,9 103,11 @@ d
 </div><!-- span -->
 
 <div class='span4'>
	<h3>Section Biologie</h3>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
-      <ph-txt num-sentences="1"><ph-txt>
            <img class="pull-right" ph-img="64x64" />
      <p>Booooo!!</p><ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
       {{group.content}}
@@ -65,7 124,11 @@ d
 
 <div class='span4'>
   <accordion close-others="true">
    <accordion-group heading="Section Éducation">
    </accordion-group>

     <accordion-group is-open="true" heading="Static Header">
            <img class="pull-right img-rounded" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
@@ -78,8 141,11 @@ d
 </div><!-- span -->
 
 <div class='span4'>
    <accordion-group heading="Section Santé">
    </accordion-group>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
            <img class="pull-right img-polaroid" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
@@ -93,7 159,11 @@ d
 
 <div class='span4'>
   <accordion close-others="true">
    <accordion-group heading="Section Sociologie">
    </accordion-group>
	  
     <accordion-group is-open="true" heading="Static Header">
            <img class="pull-right img-polaroid" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
@@ -112,6 182,7 @@ d
 <div class='span4'>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
            <img class="pull-right img-polaroid" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
@@ -126,6 197,7 @@ d
 <div class='span4'>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
            <img class="pull-right img-polaroid" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
@@ -140,6 212,7 @@ d
 <div class='span4'>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
            <img class="pull-right img-polaroid" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
@@ -158,6 231,7 @@ d
 <div class='span4'>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
            <img class="pull-right img-polaroid" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
@@ -172,6 246,7 @@ d
 <div class='span4'>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
            <img class="pull-right img-polaroid" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
@@ -186,6 261,7 @@ d
 <div class='span4'>
   <accordion close-others="true">
     <accordion-group is-open="true" heading="Static Header">
           <img class="pull-right img-polaroid" ph-img="64x64" />
       <ph-txt num-sentences="1"><ph-txt>
     </accordion-group>
     <accordion-group heading="{{group.title}}" ng-repeat="group in groups">