<div class ="container theme-showcase">
<footer>
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component pull-right" style="padding-left:50px">
                <medium>
                  © 2015 Rights Reserved Sri Muralidhar Baba  
                </medium>
      </div>
    </div>
  </div>
</footer>
</div>

