<div class ="container theme-showcase">
<footer>
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component pull-right" >
                <medium>
                  © 2015 Sri Muralidhar Baba Website. All Rights Reserved. 
                </medium>
      </div>
    </div>
  </div>
</footer>
</div>

