<div class="row">
          <div class="col-lg-12">
            <h2 id="type-blockquotes">Sai Vachan</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote>
                <medium>
                  तुम जो भी करते हो, तुम चाहे जहाँ भी हो, हमेशा इस बात को याद रखो: मुझे हमेशा इस बात का ज्ञान रहता है कि तुम क्या कर रहे हो.
                </medium>
                
                <small><cite title="Source Title">साईं बाबा</cite></small>
              </blockquote>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote class="pull-right">
                <medium>
                  मेरी दृष्टि हमेशा उनपर रहती है जो मुझे प्रेम करते हैं.
                </medium>
                <small><cite title="Source Title">साईं बाबा</cite></small>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
